.center {
    width: 33.3%;
    margin: 0 auto;
}

.hide {
    display: none;
}

.showNumber {
    text-align: center;
    margin: 5% auto;
    font-size: xxx-large;
}

.button {
    text-align: center;
    margin: 0 33%;
    padding: 0 13%;
}
