.center {
    width: 33%;
    margin: 0 auto;
}

.hide {
    display: none;
}

.showNumber {
    text-align: center;
    font-size: xxx-large;
    padding: auto;
}

.button {
    text-align: center;
    margin: 15% 33%;
    padding: auto;
}

.settings {
    width: 30%;
}
